$appFontFamilyRegular: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$appFontSansSerif: 'Raleway', sans-serif;
$appFontMonospace: monospace;
$appFontIcon: FontAwesome;

$appFontSizeMenu: 14px;
$appFontSizeMenuRem: 1.4rem;

$appLetterSpacing: 0.2em;
